In [1]:
import openai
import sys
sys.path.append("/gscratch/balazinska/enhaoz/complex_event_video")

from src.utils import str_to_program_postgres, postgres_execute_cache_sequence
from experiments.analysis.evaluate_gpt import evaluate_patsql
# Load your API key from an environment variable or secret management service
openai.api_key = open("/gscratch/balazinska/enhaoz/complex_event_video/experiments/gpt/openai_key.txt", "r").read()

## Near(o1, o2); Far(o1, o2)

In [5]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### Find videos that contain at least one instance of event where an object is first near another object, then after some frames they move far apart. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.vid FROM Near INNER JOIN Far ON Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid AND Near.fid < Far.fid GROUP BY Near.vid'

In [3]:
gt_query = "Near_1(o0, o1); Far_3(o0, o1)"
predicate_list = ("Near_1", "Far_3")
synthesized_query = 'SELECT Near.vid FROM Near INNER JOIN Far ON Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid AND Near.fid < Far.fid GROUP BY Near.vid'

evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 1.0, runtime: 0.030099153518676758

## (Near(o1, o2), Bottom(o1))

In [6]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE BottomQuadrant(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find videos that contain at least one instance of event where an object is near another object and the object is at the bottom of the frame.
SELECT
  """,
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near INNER JOIN BottomQuadrant ON Near.oid1 = BottomQuadrant.oid1 WHERE Near.vid = BottomQuadrant.vid AND Near.fid = BottomQuadrant.fid'

In [7]:
gt_query = "Conjunction(Near_1(o0, o1), BottomQuadrant(o0))"
predicate_list = ("Near_1", "BottomQuadrant")
synthesized_query = 'SELECT Near.vid FROM Near INNER JOIN BottomQuadrant ON Near.oid1 = BottomQuadrant.oid1 WHERE Near.vid = BottomQuadrant.vid AND Near.fid = BottomQuadrant.fid'

evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 1.0, runtime: 0.013752222061157227

## Far(o1, o2); Near(o1, o2); Far(o1, o2)

In [9]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### Find video segments that contain at least one instance of event where an object is far from another object, 
### then after some frames they are near to each other, then after some frames they are far from each other.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near WHERE Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid < Near.fid )'

In [10]:
gt_query = "Far_3(o0, o1); Near_1(o0, o1); Far_3(o0, o1)"
predicate_list = ("Near_1", "Far_3")
synthesized_query = 'SELECT Near.vid FROM Near WHERE Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid < Near.fid )'

evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 0.0, runtime: 0.026442289352416992

## TQ3: Far(o1, o2); (Near(o1, o2), Behind(o1, o2))

In [14]:
# One-shot (1) 
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object and the first object is behind the second object. 
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o2_oid FROM Behind b; CREATE TEMPORARY TABLE g3_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g2_contiguous t1, g3 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g3_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g3_filtered ); CREATE TEMPORARY TABLE g3_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g3_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g3_contiguous;'

In [11]:
gt_query = "Far_3(o0, o1); Conjunction(Near_1(o0, o1), Behind(o0, o1))"
predicate_list = ("Far_3", "Near_1", "Behind")
synthesized_query = output
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 0.9217160548429898, runtime: 0.3099250793457031

In [13]:
# One-shot (2)
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near and behind the second object.
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, Behind b WHERE n.vid = b.vid and n.fid = b.fid and n.oid1 = b.oid1 and n.oid2 = b.oid2; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g2_contiguous;'

In [14]:
gt_query = "Far_3(o0, o1); Conjunction(Near_1(o0, o1), Behind(o0, o1))"
predicate_list = ("Far_3", "Near_1", "Behind")
synthesized_query = output
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 1.0, runtime: 0.2106492519378662

In [5]:
# SQL to text
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Explain what the following SQL does in natural language:
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
[Natural language] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, Behind b WHERE n.vid = b.vid and n.fid = b.fid and n.oid1 = b.oid1 and n.oid2 = b.oid2; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g2_contiguous;
[Natural language]
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=[";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Find video segments that contain at least one instance of event where the first object is far away from the second object for at least 1 frame, then after some frames the first object is close to and behind the second object for at least 1 frame. [SQL] CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f'

In [16]:
# Zero-shot (1)
# not finished
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, then after some frames the first object is near the second object and the first object is behind the second object. 
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'SELECT DISTINCT vid FROM Far WHERE oid1 IN ( SELECT oid1 FROM Near WHERE oid1 IN ( SELECT oid1 FROM Behind WHERE oid1 = Far.oid1 AND oid2 = Far.oid2 AND vid = Far.vid AND fid > Far.fid ) AND oid2 = Far.oid2 AND vid = Far.vid AND fid > Far.fid ) AND oid2 = Far.oid2 AND fid > Far.fid'

In [17]:
gt_query = "Far_3(o0, o1); Conjunction(Near_1(o0, o1), Behind(o0, o1))"
predicate_list = ("Far_3", "Near_1", "Behind")
synthesized_query = 'SELECT DISTINCT vid FROM Far WHERE oid1 IN ( SELECT oid1 FROM Near WHERE oid1 IN ( SELECT oid1 FROM Behind WHERE oid1 = Far.oid1 AND oid2 = Far.oid2 AND vid = Far.vid AND fid > Far.fid ) AND oid2 = Far.oid2 AND vid = Far.vid AND fid > Far.fid ) AND oid2 = Far.oid2 AND fid > Far.fid'
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 0.0, runtime: 0.030500173568725586

In [4]:
# Zero-shot (2)
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object and the first object is behind the second object. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ';']
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Far.oid1, Far.oid2, Far.vid, Far.fid FROM Far WHERE Far.fid IN ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid IN ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid ) AND Far.fid < ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid < ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid )'

In [18]:
gt_query = "Far_3(o0, o1); Conjunction(Near_1(o0, o1), Behind(o0, o1))"
predicate_list = ("Far_3", "Near_1", "Behind")
synthesized_query = 'SELECT Far.vid FROM Far WHERE Far.fid IN ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid IN ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid ) AND Far.fid < ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid < ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid )'
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 0.0, runtime: 0.10769104957580566

## TQ4: Far(o1, o2); (Near(o1, o2), Behind(o1, o2), Left(o1))

In [27]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Left(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object while the first object is behind the second object 
### while the first object is on the left of the frame. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'* FROM Far, Near, Behind, Left WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid < Near.fid AND Far.oid1 = Behind.oid1 AND Far.oid2 = Behind.oid2 AND Far.vid = Behind.vid AND Far.fid < Behind.fid AND Far.oid1 = Left.oid1 AND Far.vid = Left.vid AND Far.fid < Left.fid'

score: 0.8169014084507042, runtime: 0.2393782138824463

In [28]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Left(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then in some later frame the first object is near the second object while the first object is behind the second object 
### while the first object is on the left of the frame. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near INNER JOIN Far ON Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid AND Near.fid > Far.fid INNER JOIN Behind ON Near.oid1 = Behind.oid1 AND Near.oid2 = Behind.oid2 AND Near.vid = Behind.vid AND Near.fid = Behind.fid INNER JOIN Left ON Near.oid1 = Left.oid1 AND Near.vid = Left.vid AND Near.fid = Left.fid'

score: 1.0, runtime: 0.0324854850769043

## TQ1D: Duration(Far(𝑜1, 𝑜2), 5); Near(𝑜1, 𝑜2); Far(𝑜1, 𝑜2)

In [9]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### Find video segments that contain at least one instance of event where the first object is far from the second object for at least 5 frames, 
### then in some later frame the first object is near the second object, then in some later frame the first object is far from the second object.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near WHERE Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid'

In [ ]:
gt_query = "Duration(Far_3(o0, o1), 5); Near_1(o0, o1); Far_3(o0, o1)"
predicate_list = ("Far_3", "Near_1")
synthesized_query = ''
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

## TQ2D: Duration(LeftOf(𝑜1, 𝑜2), 5); (Near(𝑜1, 𝑜2), Top(𝑜1)); Duration(RightOf(𝑜1, 𝑜2), 5)

In [7]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE RightOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE TopQuadrant(
# oid1 int,
# vid int,
# fid int)
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### Find video segments that contain at least one instance of event where the first object is on the left of the second object for at least 5 frames, 
### then after some frames the first object is near the second object while the first object is at the top quadrant of the frame, 
### then after some frames the first object is on the right of the second object for at least 5 frames.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'LeftOf.vid, LeftOf.fid FROM LeftOf WHERE LeftOf.oid1 = 1 AND LeftOf.oid2 = 2 AND LeftOf.fid IN ( SELECT Near.fid FROM Near WHERE Near.oid1 = 1 AND Near.oid2 = 2 AND Near.fid IN ( SELECT RightOf.fid FROM RightOf WHERE RightOf.oid1 = 1 AND RightOf.oid2 = 2 AND RightOf.fid IN ( SELECT TopQuadrant.fid FROM TopQuadrant WHERE TopQuadrant.oid1 = 1 ) ) ) )'

In [11]:
# Syntax Error 
gt_query = "Duration(LeftOf(o0, o1), 5); Conjunction(Near_1(o0, o1), TopQuadrant(o0)); Duration(RightOf(o0, o1), 5)"
predicate_list = ("LeftOf", "Near_1", "TopQuadrant", "RightOf")
synthesized_query = 'SELECT LeftOf.vid FROM LeftOf WHERE LeftOf.oid1 = 1 AND LeftOf.oid2 = 2 AND LeftOf.fid IN ( SELECT Near.fid FROM Near WHERE Near.oid1 = 1 AND Near.oid2 = 2 AND Near.fid IN ( SELECT RightOf.fid FROM RightOf WHERE RightOf.oid1 = 1 AND RightOf.oid2 = 2 AND RightOf.fid IN ( SELECT TopQuadrant.fid FROM TopQuadrant WHERE TopQuadrant.oid1 = 1 )  ) )'
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 0.0, runtime: 0.01983785629272461

In [3]:
# One-shot
# 
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE RightOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE TopQuadrant(
# oid1 int,
# vid int,
# fid int)
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object for at least 5 frames, 
### then after some frames the first object is near the second object while the first object is at the top of the frame, 
### then after some frames the first object is on the right of the second object for at least 5 frames.
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, TopQuadrant tq WHERE n.vid = tq.vid and n.fid = tq.fid and n.oid1 = tq.oid1; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g3 AS SELECT ro.vid as vid, ro.fid as fid, ro.oid1 as o1_oid, ro.oid2 as o2_oid FROM RightOf ro; CREATE TEMPORARY TABLE g3_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g2_contiguous t1, g3 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g3_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g3_filtered ); CREATE TEMPORARY TABLE g3_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g3_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g3_contiguous;'

In [4]:
gt_query = "Duration(LeftOf(o0, o1), 5); Conjunction(Near_1(o0, o1), TopQuadrant(o0)); Duration(RightOf(o0, o1), 5)"
predicate_list = ("LeftOf", "Near_1", "TopQuadrant", "RightOf")
synthesized_query = 'CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, TopQuadrant tq WHERE n.vid = tq.vid and n.fid = tq.fid and n.oid1 = tq.oid1; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g3 AS SELECT ro.vid as vid, ro.fid as fid, ro.oid1 as o1_oid, ro.oid2 as o2_oid FROM RightOf ro; CREATE TEMPORARY TABLE g3_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g2_contiguous t1, g3 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g3_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g3_filtered ); CREATE TEMPORARY TABLE g3_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g3_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g3_contiguous;'
evaluate_patsql(gt_query, predicate_list, 5432, 4, synthesized_query)

score: 1.0, runtime: 0.32694387435913086