In [1]:
import openai

# Load your API key from an environment variable or secret management service
openai.api_key = ""

## Near(o1, o2); Far(o1, o2)

In [8]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE A(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE B(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above, but don't use subqueries:
### Find videos that contain at least one instance of event where an object is first near another object, then after some frames they move far apart. 
SELECT
  """,
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'A.vid FROM A INNER JOIN B ON A.oid1 = B.oid1 AND A.oid2 = B.oid2 AND A.vid = B.vid AND A.fid < B.fid WHERE A.fid = ( SELECT MIN(fid) FROM A WHERE A.oid1 = B.oid1 AND A.oid2 = B.oid2 AND A.vid = B.vid AND A.fid < B.fid ) AND A.fid ='

score: 0.0, runtime: 0.0012753009796142578

## (Near(o1, o2), Bottom(o1))

In [17]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Bottom(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find videos that contain at least one instance of event where an object is near another object and the object is at the bottom of the frame.
SELECT
  """,
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.vid, Near.fid FROM Near, Bottom WHERE Near.oid1 = Bottom.oid1 AND Near.vid = Bottom.vid AND Near.fid = Bottom.fid'

score: 1.0, runtime: 0.0009546279907226562

## Far(o1, o2); Near(o1, o2); Far(o1, o2)

In [24]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where an object is far from another object, 
### then after some frames they are near to each other, then after some frames they are far from each other.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near WHERE Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid > Near.fid ) AND Near.fid IN ( SELECT Far.fid FROM Far WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid < Near.fid )'

score: 0.0, runtime: 0.0014235973358154297

## TQ3: Far(o1, o2); (Near(o1, o2), Behind(o1, o2))

In [14]:
# One-shot (1) 
# score: 0.9642857142857143, runtime: 0.018959522247314453
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object and the first object is behind the second object. 
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o2_oid FROM Behind b; CREATE TEMPORARY TABLE g3_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g2_contiguous t1, g3 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g3_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g3_filtered ); CREATE TEMPORARY TABLE g3_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g3_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g3_contiguous;'

In [15]:
# One-shot (2)
# score: 1.0, runtime: 0.016865968704223633
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near and behind the second object.
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, Behind b WHERE n.vid = b.vid and n.fid = b.fid and n.oid1 = b.oid1 and n.oid2 = b.oid2; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g2_contiguous;'

In [5]:
# SQL to text
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Explain what the following SQL does in natural language:
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
[Natural language] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, Behind b WHERE n.vid = b.vid and n.fid = b.fid and n.oid1 = b.oid1 and n.oid2 = b.oid2; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g2_contiguous;
[Natural language]
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=[";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Find video segments that contain at least one instance of event where the first object is far away from the second object for at least 1 frame, then after some frames the first object is close to and behind the second object for at least 1 frame. [SQL] CREATE TEMPORARY TABLE g1 AS SELECT f.vid as vid, f.fid as fid, f.oid1 as o1_oid, f.oid2 as o2_oid FROM Far f'

In [3]:
# Zero-shot (1)
# not finished
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is far from the second object, then after some frames the first object is near the second object and the first object is behind the second object. 
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'SELECT DISTINCT vid FROM Far, Near, Behind WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.oid1 = Behind.oid1 AND Far.oid2 = Behind.oid2 AND Far.fid < Near.fid AND Near.fid < Behind.fid'

In [4]:
# Zero-shot (2)
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object and the first object is behind the second object. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ';']
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Far.oid1, Far.oid2, Far.vid, Far.fid FROM Far WHERE Far.fid IN ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid IN ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid ) AND Far.fid < ( SELECT Near.fid FROM Near WHERE Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid ) AND Far.fid < ( SELECT Behind.fid FROM Behind WHERE Behind.oid1 = Far.oid1 AND Behind.oid2 = Far.oid2 AND Behind.vid = Far.vid )'

score: 0.0, runtime: 0.004602909088134766

## TQ4: Far(o1, o2); (Near(o1, o2), Behind(o1, o2), Left(o1))

In [27]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Left(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then after some frames the first object is near the second object while the first object is behind the second object 
### while the first object is on the left of the frame. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'* FROM Far, Near, Behind, Left WHERE Far.oid1 = Near.oid1 AND Far.oid2 = Near.oid2 AND Far.vid = Near.vid AND Far.fid < Near.fid AND Far.oid1 = Behind.oid1 AND Far.oid2 = Behind.oid2 AND Far.vid = Behind.vid AND Far.fid < Behind.fid AND Far.oid1 = Left.oid1 AND Far.vid = Left.vid AND Far.fid < Left.fid'

score: 0.8169014084507042, runtime: 0.2393782138824463

In [28]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Left(
# oid1 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object, 
### then in some later frame the first object is near the second object while the first object is behind the second object 
### while the first object is on the left of the frame. 
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'Near.oid1, Near.oid2, Near.vid, Near.fid FROM Near INNER JOIN Far ON Near.oid1 = Far.oid1 AND Near.oid2 = Far.oid2 AND Near.vid = Far.vid AND Near.fid > Far.fid INNER JOIN Behind ON Near.oid1 = Behind.oid1 AND Near.oid2 = Behind.oid2 AND Near.vid = Behind.vid AND Near.fid = Behind.fid INNER JOIN Left ON Near.oid1 = Left.oid1 AND Near.vid = Left.vid AND Near.fid = Left.fid'

score: 1.0, runtime: 0.0324854850769043

## TQ1D: Duration(Far(𝑜1, 𝑜2), 5); Near(𝑜1, 𝑜2); Far(𝑜1, 𝑜2)

In [2]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is far from the second object for at least 5 frames, 
### then in some later frame the first object is near the second object, then in some later frame the first object is far from the second object.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'oid1, oid2, vid, fid FROM Far WHERE fid IN ( SELECT fid FROM Far WHERE oid1 = oid1 AND oid2 = oid2 AND vid = vid AND fid IN ( SELECT fid FROM Near WHERE oid1 = oid1 AND oid2 = oid2 AND vid = vid AND fid IN ( SELECT fid FROM Far WHERE oid1 = oid1 AND oid2 = oid2 AND vid = vid AND fid > fid ) ) ) GROUP BY oid1, oid2, vid, fid HAVING COUNT(*) > 5 ORDER BY oid1, oid2, vid, fid'

## TQ2D: Duration(LeftOf(𝑜1, 𝑜2), 5); (Near(𝑜1, 𝑜2), Top(𝑜1)); Duration(RightOf(𝑜1, 𝑜2), 5)

In [3]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE RightOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Top(
# oid1 int,
# vid int,
# fid int)
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### Find video segments that contain at least one instance of event where the first object is on the left of the second object for at least 5 frames, 
### then after some frames the first object is near the second object while the first object is at the top of the frame, 
### then after some frames the first object is on the right of the second object for at least 5 frames.
SELECT
  """,
  temperature=0,
  max_tokens=500,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'vid FROM LeftOf WHERE fid - (SELECT fid FROM LeftOf WHERE oid1 = LeftOf.oid1 AND oid2 = LeftOf.oid2 AND fid < LeftOf.fid ORDER BY fid DESC LIMIT 1) >= 5 AND oid1 IN (SELECT oid1 FROM Near WHERE oid2 = LeftOf.oid2 AND fid - (SELECT fid FROM Near WHERE oid1 = LeftOf.oid1 AND oid2 = LeftOf.oid2 AND fid < Near.fid ORDER BY fid DESC LIMIT 1) >= 5) AND oid1 IN (SELECT oid1 FROM RightOf WHERE oid2 = LeftOf.oid2 AND fid - (SELECT fid FROM RightOf WHERE oid1 = LeftOf.oid1 AND oid2 = LeftOf.oid2 AND fid < RightOf.fid ORDER BY fid DESC LIMIT 1) >= 5) AND oid1 IN (SELECT oid1 FROM Top WHERE fid - (SELECT fid FROM Top WHERE oid1 = LeftOf.oid1 AND fid < Top.fid ORDER BY fid DESC LIMIT 1) >= 5) GROUP BY vid HAVING COUNT(DISTINCT oid2) >= 2'

In [5]:
# One-shot
# 
response = openai.Completion.create(
  model="code-davinci-002",
  prompt="""
# CREATE TABLE Near(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Far(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Behind(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE LeftOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE Sphere(
# oid1 int,
# vid int,
# fid int) 
# CREATE TABLE FrontOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int) 
# CREATE TABLE RightOf(
# oid1 int,
# oid2 int,
# vid int,
# fid int)
# CREATE TABLE Top(
# oid1 int,
# vid int,
# fid int)
### Using valid Postgres SQL, answer the following questions for the tables provided above.
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object, which is a sphere, for at least 15 frames, then after some frames the first object is in front of and close to the third object, then after some frames the first object is behind and far away from the third object for at least 5 frames. 
[SQL] CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo, Sphere s WHERE lo.vid = s.vid and lo.fid = s.fid and lo.oid2 = s.oid1;
CREATE TEMPORARY TABLE g1_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid,
    lead(fid, 15 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset
    FROM g1
);
CREATE TEMPORARY TABLE g1_contiguous AS (
    SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid
    FROM g1_windowed
    WHERE fid_offset = fid + (15 - 1)
    GROUP BY vid, o1_oid, o2_oid
);
CREATE TEMPORARY TABLE g2 AS SELECT fo.vid as vid, n.fid as fid, fo.oid1 as o1_oid, fo.oid2 as o3_oid FROM FrontOf fo, Near n WHERE fo.vid = n.vid and fo.fid = n.fid and fo.oid1 = n.oid1 and fo.oid2 = n.oid2;
CREATE TEMPORARY TABLE g2_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t2.o3_oid
    FROM g1_contiguous t1, g2 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o1_oid <> t2.o3_oid and t1.o2_oid <> t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g2_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g2_filtered
);
CREATE TEMPORARY TABLE g2_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g2_windowed
    WHERE fid_offset = fid + (1 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
CREATE TEMPORARY TABLE g3 AS SELECT b.vid as vid, b.fid as fid, b.oid1 as o1_oid, b.oid2 as o3_oid FROM Behind as b, Far as f WHERE b.vid = f.vid and b.fid = f.fid and b.oid1 = f.oid1 and b.oid2 = f.oid2;
CREATE TEMPORARY TABLE g3_filtered AS (
    SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid, t1.o3_oid
    FROM g2_contiguous t1, g3 t2
    WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o3_oid = t2.o3_oid AND t1.fid < t2.fid
);
CREATE TEMPORARY TABLE g3_windowed AS (
    SELECT vid, fid, o1_oid, o2_oid, o3_oid,
    lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid, o3_oid ORDER BY fid) as fid_offset
    FROM g3_filtered
);
CREATE TEMPORARY TABLE g3_contiguous AS (
    SELECT vid, o1_oid, o2_oid, o3_oid, min(fid_offset) AS fid
    FROM g3_windowed
    WHERE fid_offset = fid + (5 - 1)
    GROUP BY vid, o1_oid, o2_oid, o3_oid
);
SELECT distinct vid from g3_contiguous;
### [Question] Find video segments that contain at least one instance of event where the first object is on the left of the second object for at least 5 frames, 
### then after some frames the first object is near the second object while the first object is at the top of the frame, 
### then after some frames the first object is on the right of the second object for at least 5 frames.
[SQL]
  """,
  temperature=0,
  max_tokens=4000,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#"]
)

output = response.choices[0].text.replace('\n', ' ')
output = ' '.join(output.split())
output

'CREATE TEMPORARY TABLE g1 AS SELECT lo.vid as vid, lo.fid as fid, lo.oid1 as o1_oid, lo.oid2 as o2_oid FROM LeftOf lo; CREATE TEMPORARY TABLE g1_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g1 ); CREATE TEMPORARY TABLE g1_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g1_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g2 AS SELECT n.vid as vid, n.fid as fid, n.oid1 as o1_oid, n.oid2 as o2_oid FROM Near n, Top t WHERE n.vid = t.vid and n.fid = t.fid and n.oid1 = t.oid1; CREATE TEMPORARY TABLE g2_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g1_contiguous t1, g2 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g2_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 1 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g2_filtered ); CREATE TEMPORARY TABLE g2_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g2_windowed WHERE fid_offset = fid + (1 - 1) GROUP BY vid, o1_oid, o2_oid ); CREATE TEMPORARY TABLE g3 AS SELECT ro.vid as vid, ro.fid as fid, ro.oid1 as o1_oid, ro.oid2 as o2_oid FROM RightOf ro; CREATE TEMPORARY TABLE g3_filtered AS ( SELECT t1.vid, t2.fid, t1.o1_oid, t1.o2_oid FROM g2_contiguous t1, g3 t2 WHERE t1.vid = t2.vid AND t1.o1_oid = t2.o1_oid and t1.o2_oid = t2.o2_oid AND t1.fid < t2.fid ); CREATE TEMPORARY TABLE g3_windowed AS ( SELECT vid, fid, o1_oid, o2_oid, lead(fid, 5 - 1, 0) OVER (PARTITION BY vid, o1_oid, o2_oid ORDER BY fid) as fid_offset FROM g3_filtered ); CREATE TEMPORARY TABLE g3_contiguous AS ( SELECT vid, o1_oid, o2_oid, min(fid_offset) AS fid FROM g3_windowed WHERE fid_offset = fid + (5 - 1) GROUP BY vid, o1_oid, o2_oid ); SELECT distinct vid from g3_contiguous;'